/*youtube video link: https://youtu.be/uAGSet2QHv0 */

/*initialization */
:root {
  --primary-color: #000;
  --secondary-color: #ff0000;
  --dark-color: #8b0000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--primary-color);
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
 
}

h1,
h2 {
  font-weight: 300;
  margin: 0.2em 0;
}

p {
  margin: 0.6em 0;
}

img {
  width: 100%;
}

/* logo */
.logo {
  font-weight: bold;
}

/* Navbar */
.navbar {
  color: #fff;
  height: 30%;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.6em;
  margin: 0 0.3em;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

/* Showcase */
.showcase {
  height: 500px;
  color: #fff;
}

.showcase h1 {
  font-size: 2.5em;
}

.showcase p {
  margin: 1.25em 0;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 300px;
  width: 400px;
  padding: 2.5em;
  z-index: 1;
  justify-self: flex-end;
}

.showcase-form .form-control {
  margin: 1.8em 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 0.5em;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

/* calculator */
.calculator {
  padding-top: 6.25em;
}

.calculator-heading {
  max-width: 500px;
  margin: auto;
}

.calculator .grid h3 {
  font-size: 35px;
}

.calculator .grid p {
  font-size: 1.25px;
  font-weight: bold;
}

.box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.calculator-form input {
  margin: 1em;
  padding: 0.5em;
  border-radius: 10px;
}

.calculator-form input[type="submit"] {
  font-weight: bold;
  padding: 16px 32px 16px 32px;
  color: #fff;
  background-color: var(--dark-color);
}

/* advice */
.advice-head  {
  width-mix: 200px;
  justify-self: flex-end;
}

.advice-main .card  {
  margin-right: 1.25em;
}

.advice-main .grid {
  padding: 1%;
}

.advice-main .grid > *:first-child {
  grid-column: 1 / span 3;
}

.advice-main .grid > *:nth-child(2) {
  grid-column: 1 / span 2;
}

/* Footer */

footer a {
  display: block;
  color: #fff;
}

.fa-facebook:hover {
  color: #1773ea;
}

.fa-instagram:hover {
  color: #b32e87;
}

.fa-email:hover {
  color: #1c9cea;
}

/*utilities*/

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 2.5em;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25em;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Backgrounds & colored buttons */
.bg-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-dark a {
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  transform: scale(0.98);
}
.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

/* Text sizes */

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-secondary {
  color: var(--secondary-color);
}

.lead {
  font-size: 20px;
}

.md {
  font-size: 32px;
}

.lg {
  font-size: 3rem;
}

/* Margin */

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-4 {
  margin: 3rem 0;
}

/* Padding */
.py-2 {
  padding: 1.5rem 0;
}

.py-5 {
  padding: 4rem 0;
}

/*response*/

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
  }

  .flex {
    display: flex;
    flex-direction: column;
    overflow: visible;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    margin-bottom:50px
  }
  
  .navbar li{
    margin-bottom:15px
  }
  
  .showcase{
    height:700px
  }

  .showcase .grid {
    overflow: none;
    display: block;
    height: 600px;
  }
}
